<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <title>Document</title>
    <style>
        .box{
            padding: 100px 0;
            width: 400px;
            text-align: center;
            background-color: beige;
            margin: 20px;
            display: inline-block;
        }

        body{
            background: #eee;
            max-width: 960px;
            margin: 20px auto;
        }

        li{
            list-style-type: none;
            background: #fff;
            margin: 20px auto;
            padding: 10px 20px;
            border-radius:10px;
            display: flex;
            align-items: center;
            justify-content: space-between;            
        }
        li.fav{
            background: #ff9ed2 ;
        }
        p,h3,ul{
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
    <h1>Hello hh</h1>
    <div id="app">
        <a :href="url">LINK</a>

        <div v-if="showBooks">

            <ul>
                <li v-for="book in filteredBooks" :class="{fav: book.isFav}" @click="toggleFav(book)">
                    <img :src="book.img" height="50" :alt="book.title">
                    <h3>{{book.title}}</h3>
                    <p>{{book.author}}</p>
                </li>
            </ul>
            <!-- <p>{{title}} - {{author}} - {{age}}</p>
            <button v-on:click="age++">Increase Age</button>
            <button v-on:click="age--">Decrease Age</button>
            <div @click="changeTitle">change someting else</div> -->
        </div>
        <!-- <div @click="showBooks = !showBooks"> {{showBooks}}</div> -->

        <div class="box" @mouseover="handleEvent">Mouseover(Enter)</div>
        <div class="box" @mouseleave="handleEvent"> mouseLeave</div>
        <div class="box" @dblclick="handleEvent"> Double Click</div>
        <div class="box" @mousemove="handleMousemove">position- {{x}} {{y}}</div>
    </div>
    <script src="app.js"></script>
</body>

</html>